In [1]:
import pandas as pd

In [2]:
def dropMissingData(students):
    students = students.dropna(subset=['name'])
    return students

In [4]:
# Пример DataFrame
data = {
    'student_id': [32, 217, 779, 849],
    'name': ['Piper', None, 'Georgia', 'Willow'],
    'age': [5, 19, 20, 14]
}

students = pd.DataFrame(data)
print(students)
print()
# Вызываем функцию для удаления строк с пропущенными значениями в колонке 'name'
result = dropMissingData(students)
print(result)

   student_id     name  age
0          32    Piper    5
1         217     None   19
2         779  Georgia   20
3         849   Willow   14

   student_id     name  age
0          32    Piper    5
2         779  Georgia   20
3         849   Willow   14